@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", "Montserrat", "Nunito Sans" sans-serif;
  @apply text-mainGreen;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
}

/* chrome */
/* html::-webkit-scrollbar {
  display: none;
} */

/* firefox */
/* html {
  scrollbar-width: none;
} */

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */

@layer components {
  .max-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}


/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
